@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color-yelloW: #FCB900;
    --primary-color-black: #000000;
    --primary-color-white: #ffffff;
    --font-size: 10px;
}
body{
    font-family:  'Poppins', sans-serif;
}
.naver{
    display: flex;
    background-color: black;
    padding: 20px 120px 20px 120px;
    justify-content: space-between;
    align-items: center;
}
.logo h3 {
    color: white;

}
.navarlinks a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family:  'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-left: 24px;
    

}
button{
    height: 40px;
    padding: 0px 18px 0px 18px;
    border-radius: 10px;
    background-color: var(--primary-color-black);
    color: var(--primary-color-yelloW);
    border: 1px solid var(--primary-color-white);
}
.hero{
    background-image: url(image/WhatsApp\ Image\ 2023-10-18\ at\ 14.58.02_63002f8a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 200px 120px 0px 120px;
    
    
}
.hero p {
    color: var(--primary-color-white);
}
.hero h3{
    color: var(--primary-color-white);
    font-size: 30px;
    line-height: 44px;
    margin: 16px 0px 16px 0px;
}

#DonateB{
    height: 40px;
    padding: 0px 18px 0px 18px;
    border-radius: 10px;
    background-color: var(--primary-color-black);
    color: var(--primary-color-yelloW);
    border: 1px solid var(--primary-color-white);
    font-size: 16px;
    margin-top: 25px;

}